@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color scheme inspiration from https://www.canva.com/learn/website-color-schemes/ */
:root {
  --ivory-black: #0d192d;
  --sky-blue: #328cc1;
  --sky-blue-50: rgba(50, 140, 193, 0.65);
  --ice-blue: #e0f0ff;
  --ice-blue-dark: #bddfff;
  --ice-blue-50: rgba(224, 240, 255, 0.65);
  --gold-leaf: #dfb806;
  --gold-leaf-50: rgb(217, 179, 16, 0.65);
  --prussian-blue: #043451;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  color: var(--ice-blue);
  background-color: var(--ivory-black);
}

a {
    color: var(--sky-blue);
    &.social-link {
      color: var(--gold-leaf);
    }
}

a:hover {
  color: var(--sky-blue-50);
  text-decoration: none;
  &.social-link {
    color: var(--gold-leaf-50);
  }
}

button {
  background-color: var(--ice-blue);
  color: var(--ivory-black);
  letter-spacing: .05rem;
  padding: .5rem 1rem;
}

.page {
  padding: 1rem 1.5rem 4rem;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 100%;
  padding-top: 3.5rem;

  @media (min-width: 576px) {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 80%;
  }

  @media (min-width: 992px) {
    max-width: 60%;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.cert-card {
  display: flex;
  align-items: center;
  justify-content: start;
}

.credit {
  color: var(--ice-blue-50)
}


h1 {
  color: var(--ice-blue);

  i {
    color: var(--sky-blue);
  }

  &.title {
    font-weight: bold;
    font-size: 2.25rem;
    transition: font-size .2s;
    
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &.title:hover {
    font-size: 2.7rem;
    transition: font-size .3s;
  }
}

h2 {
  font-weight: bold;
  letter-spacing: .35rem;
  text-transform: uppercase;
  font-size: 1.75rem;
}

h3 {
  font-weight: bold;
  letter-spacing: .15rem;
  font-size: 1rem;
  margin-bottom: .5rem;
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

h4 {
  color: var(--ice-blue-50);
  font-weight: bold;
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .5rem;
}

ul {
  margin-left: 2.5rem;
}

.section-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--ivory-black);
  padding: 1.5rem 0 .75rem;
}

.tooltip {
  color: var(--ivory-black);
  background-color: var(--ice-blue);
  border: 2px solid var(--sky-blue);
}

.pill {
  display: inline-block;
  letter-spacing: .05rem;
  border: none;
  background-color: var(--ice-blue);
  color: var(--ivory-black);
  margin: 4px 2px;
  padding: 4px 10px;
  transition: border-bottom .2s, padding .2s;
}

.pill:hover {
  margin-top: 0px;
  border-bottom: 4px solid var(--sky-blue);
  padding: 4px 10px 0px;
  cursor: default;
  background-color: var(--ice-blue-dark);
  transition: border-bottom .1s, padding .1s;
}

.emphasis {
  color: var(--gold-leaf);
}

.social-link {
  font-size: 3rem;
  margin: 4px;
}

i.fa-pencil:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

/* Animations */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  45% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.image-wrapper {
	height: fit-content;
	width: fit-content;
  border-radius: 50%;
}

.shine {
	position: relative;
	overflow: hidden;
}

.shine::before {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	content: "";
	height: 100%;
	left: -75%;
	position: absolute;
	top: 0;
	transform: skewX(-25deg);
	width: 50%;
	z-index: 2;
}

.shine:hover::before,
.shine:focus::before {
	animation: shine 0.9s;
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

