:root {
  /* Color scheme from https://www.canva.com/learn/website-color-schemes/ */
  --ivory-black: #11181f; 
  --sky-blue: #328cc1;
  --ice-blue: #e0f0ff;
  --gold-leaf: #d9b310;
  --prussian-blue: #083c5d;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  color: var(--ice-blue);
  background-color: var(--ivory-black);
}

.row.page {
  margin-top: 96px;
  justify-content: center;
}

.row.content {
  margin-top: 72px;
  justify-content: center;
}

i.fa-pencil:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

h1 {
  color: var(--ice-blue);

  i {
    color: var(--sky-blue);
  }

  &.title {
    font-size: 2.5rem;
    transition: font-size .2s;
  }

  &.title:hover {
    font-size: 2.7rem;
    transition: font-size .3s;
  }
}

.emphasis {
  color: var(--gold-leaf);
}

/* Animations */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  45% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}