body {
  height: 100%;
  font-family: Nunito, sans-serif !important;
  background-color: #020C1B !important;
  overflow-x: hidden !important;
  color: white;
}

.row.page {
  margin-top: 96px;
  justify-content: center;
}

.row.content {
  margin-top: 48px;
  justify-content: center;
}

i.fa-pencil:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

h1 {

  &.title span {
    font-size: 2.5rem;
    transition: font-size .2s;
  }

  &.title span:hover {
    font-size: 2.7rem;
    transition: font-size .3s;
  }
}

/* Animations */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  45% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}