/* Color scheme inspiration from https://www.canva.com/learn/website-color-schemes/ */
/* @media (prefers-color-scheme: dark) {
  :root {
    --ivory-black: #121c28; 
    --sky-blue: #328cc1;
    --ice-blue: #e0f0ff;
    --ice-blue-50: rgba(224, 240, 255, 0.65);
    --gold-leaf: #d9b310;
    --prussian-blue: #043451;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --ivory-black: #FFF; 
    --sky-blue: #0D5887;
    --ice-blue: #070b10;
    --ice-blue-50: rgba(7, 11, 16, .65);
    --gold-leaf: #0D5887;
    --prussian-blue: #f2f5f6;
  }
} */

:root {
  --ivory-black: #121c28;
  --sky-blue: #328cc1;
  --sky-blue-50: rgba(50, 140, 193, 0.65);
  --ice-blue: #e0f0ff;
  --ice-blue-50: rgba(224, 240, 255, 0.65);
  --gold-leaf: #d9b310;
  --prussian-blue: #043451;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  color: var(--ice-blue);
  background-color: var(--ivory-black);
}

a {
    color: var(--sky-blue);
}

a:hover {
  color: var(--sky-blue-50);
  text-decoration: none;
}

.row {
  &.page {
    padding: 60px 24px;
    justify-content: center;

    /* Bootstrap Small */
    @media (min-width: 576px) {
      padding: 60px 24px;
    }

    /* Bootstrap Large (and larger) */
    @media (min-width: 992px) {
      padding: 96px 0px;
    }

    /* Bootstrap Medium */
    @media (min-width: 768px) {
      padding: 72px 48px;
    }
  }

  &.content {
    padding-top: 48px;
    justify-content: center;
  }

  &.credit {
    color: var(--ice-blue-50)
  }
}

h1 {
  color: var(--ice-blue);

  i {
    color: var(--sky-blue);
  }

  &.title {
    font-weight: bold;
    font-size: 2.25rem;
    transition: font-size .2s;
    
    /* Bootstrap Medium and larger */
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &.title:hover {
    font-size: 2.6rem;
    transition: font-size .3s;
  }
}

h2 {
  font-weight: bold;
  letter-spacing: .35rem;
  text-transform: uppercase;
  font-size: 1.75rem;
}

h3 {
  font-weight: bold;
  letter-spacing: .15rem;
  font-size: 1rem;
  /* Bootstrap Medium and larger */
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

h4 {
  color: var(--ice-blue-50);
  font-weight: bold;
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-size: .75rem;
}

.pill {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: .05rem;
  border: none;
  border-radius: 12px;
  background-color: var(--ice-blue);
  color: var(--ivory-black);
  margin: 4px 1px;
  padding: 4px 10px;
  transition: border-bottom .2s, padding .2s;

}

.pill:hover {
  margin-top: 0px;
  border-bottom: 4px solid var(--sky-blue);
  padding: 4px 10px 0px;
  cursor: default;
  transition: border-bottom .1s, padding .1s;
}

.emphasis {
  color: var(--gold-leaf);
}

i.fa-pencil:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

/* Animations */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  45% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}