<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- font-awesome CSS -->
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	        <!-- Latest compiled and minified CSS -->
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	        <!-- Latest compiled and minified JavaScript -->
	        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		</head>
		<body>
			<div class="row">
				<div class="col-md-12 text-center">
					<nav>
			    		<div class="btn-group" role="group" aria-label="...">
							<a type="button" class="btn btn-default" href="/">Home</a>
							<a type="button" class="btn btn-default" href="/about">Resume</a>
							<a type="button" class="btn btn-default" href="/projects">Project</a>
							<a type="button" class="btn btn-default" href="/social">Social</a>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="container">
					
					{{ content }}
					
					</div><!-- /.container -->
				</div>
			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:gabriela.g.serenamidori@gmail.com">email</a></li>
	        		<li><a href="https://github.com/serenamidori">github.com/serenamidori</a></li>
				</ul>
			</footer>
		</body>
	</html>
