<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- font-awesome CSS -->
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	        <!-- Latest compiled and minified CSS -->
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	        <!-- Latest compiled and minified JavaScript -->
	        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	        <!-- for Bootstrap mobile -->
	        <meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<div class="row">
				<div class="col-md-12 text-center text-white">
					<h1>Gab Gonzalez</h1>
					<h4>23 | ♀ | INFP-T | Digital Artist | Singer/VA | Associate Software Engineer</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<nav>
			    		<div class="btn-group btn-group-justified" role="group" aria-label="...">
							<a type="button" class="btn btn-default" href="/about"><h4><span class="fa fa-user" aria-hidden="true"></span> About</h4></a>
							<a type="button" class="btn btn-default" href="/resume"><h4><span class="fa fa-list-ul" aria-hidden="true"></span> Resume</h4></a>
							<a type="button" class="btn btn-default" href="/"><img class="img-rounded" src="https://avatars2.githubusercontent.com/u/16706141?v=3&amp;s=460" style="width:60px;height:60px;"></a>
							<a type="button" class="btn btn-default" href="/projects"><h4><span class="fa fa-code" aria-hidden="true"></span> Projects</h4></a>
							<a type="button" class="btn btn-default" href="/contact"><h4><span class="fa fa-envelope" aria-hidden="true"></span> Contact</h4></a>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="container">
						<div class="well">
							
							{{ content }}
							
						</div>
					</div><!-- /.container -->
				</div>
			</div>

			<footer>
				<div class="row">
					<div class="col-md-12 text-center">
					</div>
				</div>
			</footer>
		</body>
	</html>
